*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

header{
  background-color: #fff;
  height: 20vh;
  background-size: cover;
  background-position: center;
}

footer{
  background-color: #fff;
  height: 60vh;
  background-size: cover;
  background-position: center;
}

ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
  margin-right: 25px;

}

ul li{
  display: inline-block;

}

ul li a{
  text-decoration: none;
  color: blue;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: #335BFF;
  color: #000000;
}

ul li.active a{
  background-color: #335BFF;
  color: #000000;
}

ol{
  list-style-type: disc;
}

ol li{
  display: inline-block;

}

ol li a{
  text-decoration: none;
  color: blue;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ol li a:hover{
  background-color: #335BFF;
  color: #000000;
}

ol li.active a{
  background-color: #335BFF;
  color: #000000;
}

.logo img{
  float: left;
  width: 150px;
  height: auto;
}

.main{
  max-width: 1200px;
  margin: auto;
}

.title{
  position: absolute;
  top: 50%;
  left: 68%;
  transform: translate(-50%,-50%);
}

.button{
  position: absolute;
  top: 65%;
  left: 71%;
  transform: translate(-50%,-50%);
}

.btn{
  border: 1px solid #000000;
  padding: 10px 30px;
  color: #000000;
  text-decoration: none;
  transition: 0.6s ease;
}

.btn:hover{
  background-color: #335BFF;
  color: #000000;
}

.table{
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%,-50%);
  text-align: right;
  font-size: 10px;
  color: blue;
}

.graphco2{
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 10px;
  color: blue;
}

h1{
  text-align: center;
  font-size: 20px;
  font-style: italic;
  color: blue;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
  font-size: 30px;
  font-style: italic;
  color: blue;
}

h4{
  text-align: center;
  font-size: 20px;
  color: blue;
}


.graphprice{
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 10px;
  color: blue;
}

.table2{
  position: absolute;
  top: 75%;
  left: 25%;
  transform: translate(-50%,-50%);
  text-align: right;
  font-size: 10px;
  color: blue;

}

.formula{
  position: absolute;
  top: 100%;
  left: 15%;
  text-align: center;
}

.questions{
  position: relative;
  left: 15px;
  right: 15px;

}

p{
  font-size: 15px;
  color: blue;
}

.column {
  float: right;
  width: 50%;
  padding: 10px;
  height: 200px;
  font-size: 10px;
  color: blue;
  text-align: center;
  font-size: 20px;
  list-style-type: disc;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.disclaimer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
